@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}
@media (max-width:768px) {
        #container{
            width: 70%;
            height: 70%;
        }
}